<h2>Metadata</h2>

<div class='col-md-4'>
  <h3>Emotions</h3>

    <ul id='metadata-emotions'>
      
      <li>document_tone.tone_categories[0].tones[0].score
        Anger: <%= tones.document_tone.tone_categories[0].tones[0].score %>
      </li>

      <li>
        Disgust <%= tones.document_tone.tone_categories[0].tones[1].score %>
      </li>

      <li>
        Fear <%= tones.document_tone.tone_categories[0].tones[2].score %>
      </li>

      <li>
        Joy <%= tones.document_tone.tone_categories[0].tones[3].score %>
      </li>

      <li>
        Sadness <%= tones.document_tone.tone_categories[0].tones[4].score %>
      </li>

    </ul>
</div>


<div class='col-md-4'>
  <h3>Language Style</h3>

    <ul id='metadata-emotions'>

      <li>
        Analytical <%= tones.document_tone.tone_categories[1].tones[0].score %>
      </li>

      <li>
        Confident <%= tones.document_tone.tone_categories[1].tones[1].score %>
      </li>

      <li>
        Tentative <%= tones.document_tone.tone_categories[1].tones[2].score %>
      </li>

    </ul>
</div>

<div class='col-md-4'>
  <h3>Social Tendencies</h3>

    <ul id='metadata-emotions'>

      <li>
        Openness <%= tones.document_tone.tone_categories[2].tones[0].score %>
      </li>

      <li>
        Conscientiousness <%= tones.document_tone.tone_categories[2].tones[1].score %>
      </li>

      <li>
        Extraversion <%= tones.document_tone.tone_categories[2].tones[2].score %>
      </li>

      <li>
        Agreeableness <%= tones.document_tone.tone_categories[2].tones[3].score %>
      </li>

      <li>
        Emotional Range <%= tones.document_tone.tone_categories[2].tones[4].score %>
      </li>

    </ul>
</div>

