<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mind Dump</title>

    <% include ../partials/css_styling.ejs %>
  </head>
  <body>
    <div class="container">
<!--       <p><strong><%- JSON.stringify(currentUser) %></strong></p> -->


    <% if(currentUser) { %>
      <div class="container" id='greetingSection'>
        <p><strong>
        <% if(parseInt(Date().substr(16,2), 10) <= 12) { %>
          Good morning, <%- JSON.stringify(currentUser.first_name).replace(/\"/g, "") %>!
        <% } else if(parseInt(Date().substr(16,2), 10) <= 18) { %>
          Good afternoon, <%- JSON.stringify(currentUser.first_name).replace(/\"/g, "") %>!
        <% } else { %>
          Good evening, <%- JSON.stringify(currentUser.first_name).replace(/\"/g, "") %>!
        <% } %>
        <br>
        Today is <%- Date().substr(0,3) %>. <%- Date().substr(3,4) %>. <%- Date().substr(7,3) %>th
        <% if(alerts.error) { %>
          <% alerts.error.forEach(function(msg) { %>
            <div class="alert alert-danger"><%= msg %></div>
          <% }); %>
        <% } %>
        <% if(alerts.success) { %>
          <% alerts.success.forEach(function(msg) { %>
            <div class="alert alert-success"><%= msg %></div>
          <% }); %>
        <% } %>
        </div>
    <% } %>



      <h1>Mind Dump</h1>


      <%- body %>





    </div>

    <% include ../partials/footer.ejs %>

    <script src="//code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
