<% include ../../partials/navbar_loggedin.ejs %>

<h2><%= post.createdAt %></h2>

<div class='well writing' id='postcontent'>

<%= post.content %>

</div>

<h2>Metadata</h2>

<div id='postmetadata'>

  <div class='well col-md-4'>
    <h3>Emotions</h3>

    <canvas id="emotionsChart" width="400" height="400"></canvas> 

    <ul id='metadata-emotions'>
        
      <li>
        Anger <%= emotional_tones[0].score %>
      </li>

      <li>
        Disgust <%= emotional_tones[1].score %>
      </li>

      <li>
        Fear <%= emotional_tones[2].score %>
      </li>

      <li>
        Joy <%= emotional_tones[3].score %>
      </li>

      <li>
        Sadness <%= emotional_tones[4].score %>
      </li>

    </ul>
  </div>


  <div class='well col-md-4'>
    <h3>Language Style</h3>

    <canvas id="languageChart" width="400" height="400"></canvas>

    <ul id='metadata-language'>

      <li>
        Analytical <%= language_tones[0].score %>
      </li>

      <li>
        Confident <%= language_tones[1].score %>
      </li>

      <li>
        Tentative <%= language_tones[2].score %>
      </li>

    </ul>
  </div>

  <div class='well col-md-4'>
    <h3>Social Tendencies</h3>

    <canvas id="socialChart" width="400" height="400"></canvas>
    
    <ul id='metadata-social'>

      <li>
        Openness <%= social_tones[0].score %>
      </li>

      <li>
        Conscientiousness <%= social_tones[1].score %>
      </li>

      <li>
        Extraversion <%= social_tones[2].score %>
      </li>

      <li>
        Agreeableness <%= social_tones[3].score %>
      </li>

      <li>
        Emotional Range <%= social_tones[4].score %>
      </li>

    </ul>
  </div>

</div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js'>
<script type="text/javascript" src='/js/main.js'>

